body{margin:auto;
padding: 0;
background-color: aqua;
    width:75%;
}

header{margin:auto;
    padding: 0;
    background-color: azure;
    font-family: 'Oswald', sans-serif;
width:100%
}

selection{margin:auto; background-color:  cadetblue;}

span{background-color: aliceblue;
    
}

fieldset{background-color: coral;}


